<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="ico" href="images/apple-touch-icon.png" />
    <title>娱乐导航</title>
    <style>
    ICONM .panel-top-links {
        margin-top: 3px;
        font-size: 14px;
    }
    </style>
</head>

<body class="mobile">
    <div class="header clearfix">
        <div class="logo-bg">
            <span class="expand fa fa-bars"></span>
            <h1 class="logo"><a href="/">娱乐导航</h1>
        </div>
    </div>
    <!-- /.header-->
    <div class="main" id="app">
        <div class="left-side">
            <div class="side-content">
                <ul class="left-nav">
                    <% navData['菜单'].forEach(nav => { %>
                    <li class="no-child" id="icon"><a href="#design-resources"><i class="fa fa-<%= nav['图标'] %>"></i><%= nav['名称'] %></a><i class="open fa fa-plus"></i>
                        <ul>
                            <% navData[nav['名称']].forEach(item => { %>
                            <li><a href="<%= item['网址'] %>" onclick="return!1"><i class="fa fa-angle-right"></i><%= item['名称'] %></a></li>
                            <% }) %>
                        </ul>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <!-- /.left-side-->
        <div class="right-side">
            <div class="">
                <!-- box-main -->
                <div class="box-main">
                    <!-- Super Search -->
                    <div id="search" class="s-search">
                        <div id="search-list" class="hide-type-list">
                            <div class="s-type"><span></span>
                                <div class="s-type-list">
                                    <label for="type-baidu">常用</label>
                                    <label for="type-pexels">图片</label>
                                </div>
                            </div>
                            <div class="search-group group-a s-current"><span class="type-text">常用</span>
                                <ul class="search-type">
                                    <li>
                                        <input checked hidden type="radio" name="type" id="type-baidu" value="https://www.baidu.com/s?wd=" data-placeholder="百度一下">
                                        <label for="type-baidu"><span style="color:#2100E0">百度</span></label>
                                    </li>
                                    <li>
                                        <input type="radio" hidden name="type" id="type-google" value="http://www.google.com.hk/search?q=" data-placeholder="Google search">
                                        <label for="type-google"><span style="color:#3B83FA">G</span><span style="color:#F3442C">o</span><span style="color:#FFC300">o</span><span style="color:#4696F8">g</span><span style="color:#2CAB4E">l</span><span style="color:#F54231">e</span></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-group group-b"><span class="type-text">图片</span>
                                <ul class="search-type">
                                    <li>
                                        <input hidden type="radio" name="type" id="type-pexels" value="https://www.pexels.com/search/" data-placeholder="免版税图库(请用英文关键字搜索)">
                                        <label for="type-pexels"><span style="color:#262626">PEXELS</span></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form action="https://www.baidu.com/s?wd=" method="get" target="_blank" id="super-search-fm">
                            <input type="text" id="search-text" placeholder="百度一下" style="outline:none" autofocus/>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <div class="set-check">
                            <input type="checkbox" id="set-search-blank" class="bubble-3" checked required>
                            <label for="set-search-blank" class="green">新窗口打开搜索结果</label>
                        </div>
                    </div>
                    <script type="text/javascript">
                    eval(function(p, a, c, k, e, d) { e = function(c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function(e) { return d[e] }];
                            e = function() { return '\\w+' };
                            c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('!2(){2 g(){h(),i(),j(),k()}2 h(){d.9=s()}2 i(){z a=4.8(\'A[B="7"][5="\'+p()+\'"]\');a&&(a.9=!0,l(a))}2 j(){v(u())}2 k(){w(t())}2 l(a){P(z b=0;b<e.O;b++)e[b].I.1c("s-M");a.F.F.F.I.V("s-M")}2 m(a,b){E.H.S("L"+a,b)}2 n(a){6 E.H.Y("L"+a)}2 o(a){f=a.3,v(u()),w(a.3.5),m("7",a.3.5),c.K(),l(a.3)}2 p(){z b=n("7");6 b||a[0].5}2 q(a){m("J",a.3.9?1:-1),x(a.3.9)}2 r(a){6 a.11(),""==c.5?(c.K(),!1):(w(t()+c.5),x(s()),s()?E.U(b.G,+T X):13.Z=b.G,10 0)}2 s(){z a=n("J");6 a?1==a:!0}2 t(){6 4.8(\'A[B="7"]:9\').5}2 u(){6 4.8(\'A[B="7"]:9\').W("14-N")}2 v(a){c.1e("N",a)}2 w(a){b.G=a}2 x(a){a?b.3="1a":b.16("3")}z y,a=4.R(\'A[B="7"]\'),b=4.8("#18-C-19"),c=4.8("#C-12"),d=4.8("#17-C-15"),e=4.R(".C-1b"),f=a[0];P(g(),y=0;y<a.O;y++)a[y].D("Q",o);d.D("Q",q),b.D("1d",r)}();', 62, 77, '||function|target|document|value|return|type|querySelector|checked||||||||||||||||||||||||||var|input|name|search|addEventListener|window|parentNode|action|localStorage|classList|newWindow|focus|superSearch|current|placeholder|length|for|change|querySelectorAll|setItem|new|open|add|getAttribute|Date|getItem|href|void|preventDefault|text|location|data|blank|removeAttribute|set|super|fm|_blank|group|remove|submit|setAttribute'.split('|'), 0, {}))
                    </script>
                    <!-- ./ Super Search -->
                    <!-- box-links-->
                    <div class="box-links">
                        <% navData['菜单'].forEach(nav => { %>
                        <hr id="<%= nav['名称'] %>" />
                        <div class="links panel">
                            <div class="panel-heading"><i class="fa fa-<%= nav['图标'] %>"></i> <%= nav['名称'] %></div>
                            <div class="panel-body">
                                <dl class="row">
                                    <!-- <dt class="col-sm-3 col-md-2 col-xs-4 row2"><a href="#nogo" target="_blank">左侧分区标题</a></dt> -->
                                    <% navData[nav['名称']].forEach(item => { %>
                                    <dd class="col-sm-3 col-md-2 col-xs-4"><a href="<%= item['网址'] %>" target="_blank"><i class="link-logo"></i><span class="link-title"><%= item['名称'] %></span><span class="link-info"><%= item['描述'] %></span></a></dd>
                                    <% }) %>
                                </dl>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <!-- /box-links-->
                    <hr />
                    <div class="site-footer text-center f12">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="compatibility"><i class="fa fa-desktop"></i> <i class="fa fa-tablet"></i> <i class="fa fa-mobile"></i></p>
                                <p class="m-b-lg">标识说明：<i class="fa fa-circle text-success"></i> 最新加入 <i class="fa fa-circle text-warning"></i> 热门 | Ctrl+D可收藏本站噢
                            </div>
                            <div class="col-md-4 foot-share">
                                <div>
                                    <p>纯工具，无广告，分享 & 支持</p>
                                </div>
                            </div>
                            <div class="col-md-4 foot-col-3">
                                <div>
                                    <p class="pull-left" style="margin-right:15px"><img src="/images/qr-url.png" width="80" height="80"></p>
                                    <div class="pull-left">
                                        <h3 style="margin:13px 0;font-weight:normal;text-align:left;">娱乐导航</h3>
                                        <p style="font-size:14px;text-align:left;">推送好站、好资源、好工具</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="copyright">&copy; 2017 <a href="/">娱乐导航</a> 友艺互动 All Right Reserved. <a href="contact.html" onclick="return false;" class="frame-link">联系我们</a></p>
                    </div>
                    <!-- my-links -->
                    <div class="my-links">
                        <div class="my-links-btn"><i class="fa fa-link"></i></div>
                        <div class="">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#my-links" aria-controls="home" role="tab" data-toggle="tab">我的链接</a></li>
                                <li role="presentation"><a href="#my-history" aria-controls="my-history" role="tab" data-toggle="tab">最近访问</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="my-links">
                                    <a href="javascript:;" class="fa fa-plus"></a>
                                    <div class="my-links-box">
                                        <div class="my-links-content">
                                            <form class="my-link-form form-group" action="javascript:;" style="display:none">
                                                <input type="text" class="fm-add-name form-control" placeholder="网站名称" required>
                                                <input type="url" class="fm-add-url form-control" value="http://" required>
                                                <button type="submit" class="btn btn-success btn-xs">添加</button>
                                                <button type="button" class="btn-close-fm btn btn-default btn-xs">取消</button>
                                            </form>
                                            <ul class="my-link-list">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="my-history">
                                    <div class="my-links-box">
                                        <div class="my-links-content">
                                            <ul class="my-link-list recent-items">
                                            </ul>
                                            <div class="text-center pd-v"><small>显示最近 15 个访问记录</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /my-links -->
                </div>
                <!-- /box-main -->
            </div>
            <!-- /.right-side-->
        </div>
        <script src="//cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/jquery.perfect-scrollbar/0.5.6/perfect-scrollbar.min.js"></script>
        <script src="//cdn.bootcss.com/Sortable/1.4.2/Sortable.min.js"></script>
        <script src="js/hao-min95fa.js"></script>
</body>

</html>